.holder {
  width: 100%;
  min-height: 900px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: url(./login-bg2.jpg) no-repeat;
  background-size: cover;
}

.header {
  margin-top: 64px;
  color: aliceblue;
}
