.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.appHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  background-color: #2196f3;
  color: white;
  padding-bottom: 16px;
}

.mainPageLinksHolder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.headerMenuHolder {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.headerMenu {
  width: 300px;
}

.carouselMenuPageLinkHolder {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.addNewsPageLinkHolder {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  padding-right: 64px;
  color: white;
}

.addNewsPageLinkIcon {
  margin: 8px;
}

.logOutBtn {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 120px;
}
